body {
  
  text-align: center;
  background-image:url('../images/backfondo3.jpg');
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  
}
h1 {
	font-family: 'Cinzel', serif;
	text-align: center;
	font-weight: 700;
}

.titulo{
	padding-top: 0px;
	margin-top: 0px;
}
.fondito {
	background-color: #f5f5f2;
}
.caja {
	width: 20px;
}
.izquierda {
	float: left;
}
.derecha {
	float: right;
	height:85px;
}

#entradatoken {
	margin-top: 5px;
	height: 50px;
}
h4 {
	font-weight: bold;
	text-align: left;
}
.info {
	margin-top: 30px;
	margin-left: 0px;
	padding-left: 0px;
}
#div-2 {

    display: table;
    margin-left: 0;
}